@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Employee";

    String FirstName = " ";
    String LastName = " ";
    String IsTenured = " ";
    String Email = " ";
    int SalaryPerHour;
    //Birthday

}

<h1>Output A</h1>
